<footer class="bg-dark py-5 row d-print-none">
  <div class="container-fluid mx-sm-5">
    <div class="row">

      <div class="col-6 col-sm-2 text-right text-xs-center order-sm-3">
        <ul class="list-inline mb-0">
          <li class="list-inline-item mx-2 h3" data-toggle="tooltip" data-placement="top" title="" aria-label="GitLab"
            data-original-title="GitLab">
            <a class="text-white" target="_blank" href="{{ site.repo }}">
              <i class="fab fa-gitlab"></i>
            </a>
          </li>
        </ul>
      </div>

      <div class="col-12 col-sm-8 text-center py-2 order-sm-2">
        <small class="text-white">© 2019-2024 {{ site.author }} All Rights Reserved</small>
        <div>
          <img src="{{ site.baseurl }}/assets/logos/ST_logo_2020_white.png" alt="STMicroelectronics" height="70px">
          <img src="{{ site.baseurl }}/assets/logos/inventhys.jpg" alt="Inventhis" height="35px">
          <img src="{{ site.baseurl }}/assets/logos/ac-grenoble.png" alt="Rectorat de Grenoble" height="50px">
          <img src="{{ site.baseurl }}/assets/logos/ac-aix-marseille.png" alt="Rectorat d'Aix-Marseille" height="50px">
          <img src="{{ site.baseurl }}/assets/logos/Logo-CMQ.jpg" alt="CMQ IDF Sud" height="65px">
          <img src="{{ site.baseurl }}/assets/logos/logoipe.jpg" alt="Ingénieurs Pour l'Ecole" height="45px">
          <img src="{{ site.baseurl }}/assets/logos/polytech-grenoble.png" alt="Polytech Grenoble" height="50px">
          <img src="{{ site.baseurl }}/assets/logos/uga-ginp-w.png" alt="Grenoble INP - Université Grenoble Alpes" height="50px">
        </div>
      </div>
      {% if site.privacy %}
        <small class="ml-1"><a href="{{ site.privacy }}" target="_blank">Privacy Policy</a></small>
      {% endif %}
      </div>
    </div>
  </div>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-P57S1562RW"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-P57S1562RW');
  </script>

</footer>
